
html, body {
    height: 100%;
}

.main-container {
    margin: 2.5% 5%;
}

.monster-holder {
    height: 95vh;
    overflow:scroll;
}

.monster {
    height: 300px;
    width: 150px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background-size: contain, cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px;
    background-position: center;
}

.monster h2 {
    color: white;
    font-size: 24px;
}

aside {
    height: 95vh;
    overflow: scroll;
    width: 100%;
    background-color: #333;
    border-radius: 15px;
}

#loot-bag {
    color: white;
    padding: 30px;
}

#loot-bag .lootItemHolder {
    text-align:center;
    font-size: 12px;    
}

#loot-bag h3 {
    padding-bottom: 10px;
}

#loot-bag .monsterLootBag {
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}